<% carCoverClass = locals.large ? 'car-cover-large' : '' %>
<% carGridClass = locals.large ? 'car-grid-large' : '' %>
<div class="car-grid <%= carGridClass %>">
  <% cars.forEach(car => { %>
    <a href="/admin/cars/<%= car.id %>">
      <img class="car-cover <%= carCoverClass %>" src="<%= car.coverImagePath %>">
    </a>
  <% }) %>
</div>