<header>
  <nav class="header-nav">
    <a class="header-title" href="/">CarDeal</a>
    <ul>
      <% if (isAuthenticated) { %>
      <li><a href="/employees">Employees</a></li>
      <li><a href="/employees/new">Add Employee</a></li>
      <li><a href="/cars">Cars</a></li>
      <li><a href="/cars/new">Add Car</a></li>
      <li><a href="/notification">Notification</a></li>
      <li><form action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-danger" type="submit">Log Out</button>
          </form>
      <% } %>
      </li> 
    </ul>
  </nav>
</header>